// Configurable variables
params {
    outdir = './results'
    cpus = 4
    exclude = 'decoy,random,chrUn,alt,chrEBV,chrM'
}

process {
    time = 12.h
    memory = 8.GB
    cpus = 1
    cache = 'lenient'
}

profiles {
    docker {
        docker.enabled = true
    }
    singularity {
        singularity.runOptions = '--bind /scratch'
        singularity.enabled = true
    }
    none {}
}

process.shell = ['/bin/bash', '-euo', 'pipefail']

timeline {
    enabled = true
    file = "${params.outdir}/logs/timeline.html"
}
report {
    enabled = true
    file = "${params.outdir}/logs/report.html"
}
trace {
    enabled = true
    file = "${params.outdir}/logs/trace.txt"
}

manifest {
    name = 'brwnj/covdist'
    author = 'Joe Brown'
    description = 'simple coverage profile of aligned samples. useful for sequencing center feedback and topoffs.'
    version = '0.0.0'
    nextflowVersion = '>=20.10.0'
    homePage = 'https://github.com/brwnj/covdist'
    mainScript = 'main.nf'
}
